Repository eAmod/eAmod, pull requests merged in 2018-07, with the labels that each got.

#27 [Update] 04/07/2018
  Documentations/Packet Inter Server/packet_interserv_jp.txt
  Documentations/Packet Structure/packet_struct_notation_jp.txt
Labels: Enhancement

#41 [Update] 14-07-2018
  Documentations/MD5 Hash Detection/Hash Guide ES.txt
  Documentations/MD5 Hash Detection/Hash Guide JP.txt
  Documentations/MD5 Hash Detection/Hash Guide PT-BR.txt
  Servers/eAthena [Classic]/conf/charhelp.txt
  Servers/eAthena [Classic]/conf/help2.txt
  Servers/eAthena [Classic]/conf/login_athena.conf
  Servers/eAthena [Classic]/conf/map_athena.conf
  Servers/eAthena [Classic]/conf/script_athena.conf
  Servers/eAthena [Classic]/db/elemental_db.txt
  Servers/eAthena [Classic]/db/elemental_skill_db.txt
  Servers/eAthena [Classic]/db/item_delay.txt
  Servers/eAthena [Classic]/db/item_misc.txt
  Servers/eAthena [Classic]/db/item_noequip.txt
  Servers/eAthena [Classic]/db/job_db1.txt
  Servers/eAthena [Classic]/db/job_db2.txt
  Servers/eAthena [Classic]/db/mob_db.txt
  Servers/eAthena [Classic]/db/mob_db2.txt
  Servers/eAthena [Classic]/db/skill_tree.txt
Labels: code review: Accepted, component: Documentation, mode: Pre-Renewal, status: Confirmed, status: Gravity Corp CEO Analysis, type: Enhancement, type: New Job

#43 [FIX] File Structure - 14/07/2018
  Servers/README.MD
  Servers/eAmob-A Rev-471/README.MD
  Servers/eAmob-B Rev-304/README.MD
  Servers/eAmob-C Rev-502/README.MD
Labels: type: Enhancement

#44 [Update][FIX] Cosmetics and File Locations - 14/07/2018
  Documentations/README.MD
  Servers/README.MD
  Servers/eAmob-A Rev-471/README.MD
  Servers/eAmob-B Rev-304/README.MD
  Servers/eAmob-C Rev-502/README.MD
  Staging & Testing/README.MD
  Staging & Testing/Testing/Scripts/npc/battleground/bg_common.txt
  Staging & Testing/Testing/Scripts/npc/battleground/bg_conquest.txt
  Staging & Testing/Testing/Scripts/npc/battleground/bg_ffa.txt
  Staging & Testing/Testing/Scripts/npc/battleground/bg_flavius_ctf.txt
  Staging & Testing/Testing/Scripts/npc/battleground/bg_flavius_sc.txt
  Staging & Testing/Testing/Scripts/npc/battleground/bg_flavius_td.txt
  Staging & Testing/Testing/Scripts/npc/battleground/bg_rush.txt
  Staging & Testing/Testing/Scripts/npc/battleground/bg_tierra_boss.txt
  Staging & Testing/Testing/Scripts/npc/battleground/bg_tierra_dom.txt
  Staging & Testing/Testing/Scripts/npc/battleground/bg_tierra_eoe.txt
  Staging & Testing/Testing/Scripts/npc/battleground/bg_tierra_ti.txt
Labels: type: Enhancement

#46 [J3MK1] [Update] 07/17/2018
  Documentations/Script Commands/script_commands_pt-br.txt
Labels: component: Documentation, status: Confirmed, status: Gravity Corp CEO Analysis, type: Enhancement, type: Help Wanted, type: New Job

#47 [J3MK1] [Update] 07/18/2018
  Documentations/Script Commands/script_commands_pt-br.txt
Labels: component: Documentation, status: Confirmed, status: Gravity Corp CEO Analysis, type: Enhancement, type: Help Wanted, type: New Job

#50 [shellTeMP] [Update] 07/18/2018
  Documentations/Costumer Documentation/SQL Files/Costumer-sql-files_PT-BR.txt
Labels: component: Documentation, status: Confirmed, status: Gravity Corp CEO Analysis, type: Enhancement, type: Help Wanted, type: New Job

#54 [shellTeMP] [Update] 07/23/2018
  Documentations/Costumer Documentation/ChangeLog/eAmob-C_Rev-502-eAthena_Classic_Tests.txt
Labels: component: Documentation, type: Enhancement, type: New Job

#55 [shellTeMP] [Update] 23/18/2018
  Documentations/Costumer Documentation/ChangeLog/eAmob-C_Rev-502-brAthena_Tests.txt
  Documentations/Costumer Documentation/ChangeLog/eAmob-C_Rev-502-eAthena_Classic_Tests.txt
  Documentations/Features/eAMod-A_features_EN-US.txt
  Documentations/Features/eAMod-A_features_PT-BR.txt
  Documentations/Features/eAmod-A_features_JP.txt
Labels: component: Documentation, component: SQL, component: Soluction, mode: Pre-Renewal, mode: Renewal, type: Enhancement, type: New Job

#56 [shellTeMP] [Update] 23/18/2018
  Documentations/Costumer Documentation/ChangeLog/eAmob-C_Rev-502-brAthena_Tests.txt
Labels: component: Documentation, status: Confirmed, type: Enhancement, type: New Job

#57 [J3MK1] [CREATE] 07/25/2018
  Documentations/Costumer Documentation/SQL Files/Costumer-sql-files_EN-US.txt
Labels: component: Documentation, status: Confirmed, status: Needs Gravity Confirmation, type: New Job

#59 [shellTeMP] [UPDATE] & [FIX] 07/28/2018
  Servers/eAmob-B Rev-304/eAthena (Trunk)/conf/motd.txt
  Servers/eAmob-C Rev-502/Addons Rev-502/Server Side/npc-addons/eAmod/ban_system.txt
  Servers/eAmob-C Rev-502/eAthena (Classic) (Trunk)/conf/motd.txt
  Servers/eAmob-C Rev-502/eAthena (Trunk)/conf/motd.txt
Labels: component: Documentation, status: Gravity Corp CEO Analysis, type: Enhancement, type: New Job

#72 [J3MK1] [ADD],[UPDATE] Documentation 07/30/2018
  Documentations/Costumer/ChangeLog/eAmob-C_Rev-502-brAthena_Tests_EN-US.txt
  Documentations/Costumer/ChangeLog/eAmob-C_Rev-502-brAthena_Tests_PT-BR.txt
  Documentations/Costumer/ChangeLog/eAmob-C_Rev-502-eAthena_Classic_Tests_EN-US.txt
  Documentations/Costumer/MD5 Hash Detection/eAmod_Hash_Guide_EN-US.txt
  Documentations/Costumer/Mapflags/eAmod_Mapflags_EN-US.txt
Labels: component: Documentation, status: Confirmed, status: Confirmed by GRAVITY CEO, type: Help Wanted, type: Work to be done

#73 [J3MK1] [FIX] Documentation 07/31/2018
  Documentations/Costumer/Mapflags/eAmod_Mapflags_EN-US.txt
  Documentations/Costumer/Mapflags/eAmod_Mapflags_PT-BR.txt
Labels: component: Documentation, status: Confirmed, status: Confirmed by GRAVITY CEO, type: Enhancement, type: Work to be done

#74 [PrincessFreya] [ADD] Documentation 07/31/2018
  Documentations/Costumer/ChangeLog/eAmob-C_Rev-502-brAthena_Tests_JP.txt
  Documentations/Costumer/Downloads/eAmod_Costumer-downloads_JP.txt
Labels: component: Documentation, status: In Progress, status: Needs analysis from GRAVITY CEO, type: Enhancement, type: Work to be done
